*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
  margin: auto 300px;
}
.border{
    border: 1px solid black;
}
body h2{
    margin-bottom: 30px;
}
.question{
    margin: 60px auto 20px 0px;
}